@charset "utf-8";
/* CSS Document */

/*main wrapper styling*/
.txtEditor{
	width:1000px;
	background-color:#e0e7e7;
	margin:0px auto;
}

/*title styling*/
.title{
	font-size:24px;
}

/*menu styling*/
.menu{
	width:auto;
	height:30px;
	padding-top:15px;
}

.menu ul li {
	float:left;
	margin-left:20px;
}

/* menu button/select/input styling */

.menu ul li button {
	background:none;
	cursor:pointer;
	width:13px;
	height:17px;
	outline:none;
	border:none;
}

.menu ul li select {
	height:20px;
	cursor:pointer;
}

.menu ul li input {
	width:15px;
	height:20px;
	border-radius:5px;
	cursor:pointer;
}


/*main-body styling*/
.line{
	height:17px;
}
.main-body {
	width:750px;
	height:835px;
	
}
.main-body textarea {
	width:750px;
	height:835px;
}
.main-body iframe {
	width:750px;
	height:800px;
}
/*footer styling*/
.footer{
	height:55px;
}